@if (this.isBrowser) {
  <om-aurora>
    <om-particles
      [quantity]="150"
      [size]="0.6"
      [circleColor]="'#fff'"
      [staticity]="70"
      [ease]="60"
    >
      <div class="container-wrapper relative z-[9999] bg-transparent">
        <div class="group rounded-full mb-4 border border-black/5 bg-neutral-100 text-sm text-white transition-all ease-in hover:cursor-pointer hover:bg-neutral-200 dark:border-white/5 dark:bg-neutral-900 dark:hover:bg-neutral-800">
          <p class="mx-auto max-w-md text-neutral-600/70 dark:text-neutral-400/70 animate-shiny-text bg-clip-text bg-no-repeat [background-position:0_0] [background-size:var(--shiny-width)_100%] [transition:background-position_1s_cubic-bezier(.6,.6,0,1)_infinite] bg-gradient-to-r from-transparent via-black/80 via-50% to-transparent dark:via-white/80 inline-flex items-center justify-center px-4 py-1 transition ease-out hover:text-neutral-600 hover:duration-300 hover:dark:text-neutral-400" style="--shiny-width: 100px;">
            <span>✨ Introducing Ocurrency</span>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-1 size-3 transition-transform duration-300 ease-in-out group-hover:translate-x-0.5"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          </p>
        </div>
        <h1 class="bg-gradient-to-br dark:from-white from-black from-30% dark:to-white/40 to-black/40 bg-clip-text py-6 text-5xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-4xl md:text-4xl lg:text-6xl translate-y-[-1rem] animate-fade-in [--animation-delay:200ms]">
          Dólar americano para <br class="hidden md:block">Real brasileiro hoje
        </h1>
        <p class="mb-12 text-md tracking-tight text-gray-300 md:text-md text-balance translate-y-[-1rem] animate-fade-in [--animation-delay:400ms]">
          Converta USD para BRL com a cotação do dia. <br class="hidden md:block">Atualizado em {{ myDate }}
        </p>
        <div class="flex flex-row items-end justify-center space-x-4">
          <div class="flex flex-col items-start">
            <div class="text-sm text-white font-normal mb-2">Valor</div>
            <input currencyMask class="flex h-9 w-fit text-start rounded-md border border-zinc-700 bg-[#0f0f0f] px-3 py-1 text-base text-white shadow-sm transition-colors file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none ring-0 focus-visible:ring-1 focus-visible:ring-ring md:text-sm" placeholder="R$" type="text" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
          </div>
          <button type="button" class="bg-none border-none hover:cursor-pointer outline-none shadow-none p-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>            
          </button>
          <div class="flex flex-col items-start">
            <div class="text-sm text-white font-normal mb-2">Convertendo para</div>
            <input currencyMask class="flex h-9 w-fit text-start rounded-md border border-zinc-700 bg-[#0f0f0f] px-3 py-1 text-base text-white shadow-sm transition-colors file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none ring-0 focus-visible:ring-1 focus-visible:ring-ring md:text-sm" placeholder="$" type="text" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left' }">
          </div>
        </div>
      </div>
    </om-particles>
  </om-aurora>
}